.center-log-reg-comp{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-color: #45aac4;
    text-align: center;
    padding: 20px;
}
.svg-new {
    position: absolute;
    top: 0.3em; 
    right: 0; 
}